<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Chái Bơ Home Stay</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Trang chủ</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about.html">Về chúng tôi</a></li>
                            <li class="nav-item"><a class="nav-link" href="accomodation.html">Phòng</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Về chúng tôi</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active">Thông tin</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================ About History Area  =================-->
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">Giới thiệu về chúng tôi <br>Lịch sử của chúng tôi<br>Sứ mệnh và tầm nhìn</h2>
                            <p><h5>Lịch sử của chúng tôi</h5>Được thành lập với niềm đam mê hiếu khách và sự cống hiến để tạo ra những trải nghiệm đáng nhớ, nhà trọ của chúng tôi có lịch sử phong phú mang đậm tính truyền thống và cộng đồng. Được thành lập, hành trình của chúng tôi bắt đầu với mong muốn đơn giản là mang đến cho du khách một ngôi nhà xa nhà, mang đến một nơi tôn nghiêm nơi hội tụ sự thoải mái, văn hóa và kết nối.
                            <br><br><h4>Sứ mệnh & Tầm nhìn:</h4><br><h5>Sứ mệnh:</h5> Tại nhà trọ của chúng tôi, chúng tôi cam kết mang lại những trải nghiệm phong phú vượt xa những trải nghiệm thông thường, thúc đẩy sự kết nối có ý nghĩa giữa các du khách và cộng đồng địa phương. Sứ mệnh của chúng tôi là cung cấp một nơi trú ẩn thân thiện, nơi du khách có thể đón nhận tinh hoa văn hóa của chúng tôi, thưởng thức ẩm thực chính thống và tạo nên những kỷ niệm lâu dài.
                            <br><br><h5>Tầm nhìn:</h5> Được hướng dẫn bởi tầm nhìn về sự xuất sắc trong ngành khách sạn, chúng tôi mong muốn được công nhận là biểu tượng của sự ấm áp và chân thực trong ngành khách sạn. Chúng tôi hình dung nhà trọ của mình là một điểm đến toàn cầu, nơi du khách từ mọi tầng lớp xã hội có thể cùng nhau tôn vinh sự đa dạng, chia sẻ những câu chuyện và bắt tay vào những hành trình thay đổi.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="image/about_bg.jpg" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <!--================ About History Area  =================-->
        
        <!--================ Facilities Area  =================-->
        <!-- <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">  
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">Royal Facilities</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurant</h4>
                            <p>Our menu showcases a fusion of local flavors and international cuisines, prepared using fresh, locally-sourced ingredients to ensure every dish bursts with authenticity and flavor. From hearty breakfast spreads to tantalizing lunch and dinner options, there's something to please every palate.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Sports CLub</h4>
                            <p>Our facilities boast state-of-the-art equipment and well-maintained spaces, ensuring that guests have everything they need to stay active and engaged during their stay. Whether it's a morning yoga session to awaken the senses or an afternoon game of tennis to unwind, our sport club provides ample opportunities for recreation and relaxation.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Swimming Pool</h4>
                            <p>Nestled within the tranquil surroundings of our homestay, our swimming pool offers a refreshing retreat for guests seeking relaxation and rejuvenation. Surrounded by lush greenery and bathed in natural light, our pool provides a serene oasis where guests can unwind and soak up the sun.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-car"></i>Rent a Car</h4>
                            <p>Conveniently located within the premises of our homestay, our Rent a Car service offers guests the freedom to explore the surrounding area at their own pace. Whether you're looking to embark on a scenic road trip or simply need transportation for local errands and sightseeing, our fleet of well-maintained vehicles ensures a comfortable and hassle-free journey.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Gymnesium</h4>
                            <p>Offering a holistic approach to wellness, our homestay's gymnasium provides guests with a space to rejuvenate both body and mind. Situated within the serene environment of our homestay, our gym is equipped with state-of-the-art fitness equipment, catering to guests of all fitness levels.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Bar</h4>
                            <p>Nestled within the heart of our homestay, our bar offers a cozy and inviting atmosphere perfect for unwinding after a day of exploration or mingling with fellow travelers. Designed to evoke a sense of comfort and relaxation, our bar provides a welcoming space where guests can enjoy handcrafted cocktails, fine wines, and refreshing beverages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--================ Facilities Area  =================-->
        
        <!--================ Testimonial Area  =================-->
       
        <!--================ Testimonial Area  =================-->
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">GIỚI THIỆU ĐẠI LÝ</h6>
                            <p>Thế giới đã phát triển với nhịp độ nhanh đến mức mọi người không muốn đứng đọc một trang thông tin mà thay vào đó họ nhìn vào phần trình bày và hiểu thông điệp. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Trang chủ</a></li>
                                        <li><a href="#">Dịch vụ</a></li>                                        
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Đội ngũ</a></li>
                                        <li><a href="#">Giá cả</a></li>
                                        <li><a href="#">Liên hệ</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">BẢN TIN</h6>
                            <p>Liên hệ để quảng cáo qua email </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">Tin vắn</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>